@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@import 'header';
@import 'background';
@import 'skills';
@import 'projects';
@import 'pages/ecommerce';
@import 'pages/realestate';
@import 'pages/viaplay';
@import 'pages/weather';
@import 'footer';
