@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@import 'header';
@import 'background';
@import 'skills';
@import 'projects2';
@import 'projects';
@import 'pages/ecommerce';
@import 'pages/realestate';
@import 'pages/restaurant';
@import 'pages/viaplay';
@import 'pages/weather';
@import 'pages/pomodoro';
@import 'footer';
@import 'extras/extra';
@import 'mediaqueries';

body {
  position: relative;
  overflow-x: hidden;
}
