.info {
  h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
}

.info-text {
  font-size: 20px;
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto;
  p {
    margin-bottom: 10px;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0 0 100px 0;
  a:first-of-type {
    margin: 0 8px;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #007bff;
    border-radius: 35px;
    background: #fff;
    color: #007bff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s all ease;
    &:hover {
      background: #007bff;
      color: #fff;
    }
  }
  a {
    margin: 0 8px;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #007bff;
    border-radius: 35px;
    background: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s all ease;
    &:hover {
      background: #0070e7;
    }
  }
}

// Custom scrollbar
body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #868686;
}

#ecommerce-header {
  position: relative;
}

// Go back btn
.back-btn {
  position: fixed;
  top: 3%;
  left: 3%;
  margin: 0 8px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 35px;
  background: rgb(99, 114, 246);
  background: linear-gradient(
    144deg,
    rgba(99, 114, 246, 1) 0%,
    rgba(93, 180, 249, 1) 50%,
    rgba(90, 213, 251, 1) 100%
  );
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s all ease;
}
